
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<body>
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" href="https://github.com/vuralsayan/MvcStok">MVC Stok Takip Projesi</a>
    </nav>

    <!-- Ana İçerik -->
    <div class="container mt-4">
        <div class="jumbotron">
            <h2 class="display-4">Hoş Geldiniz!</h2>
            <p class="lead">Kategori, müşteri, ürün ve satışları takip etmek için kullanışlı bir web uygulamasına hoş geldiniz. Lütfen üst menüden ilgili bölümlere gidin.</p>
            <hr class="my-4">
            <p>Yardıma ihtiyacınız olursa lütfen benimle iletişime geçin.</p>
            <a class="btn btn-primary btn-lg" href="/Yardim/Index" role="button">İletişim</a>
        </div>
    </div>


</body>