
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Kişisel Bilgiler</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Vural Sayan</li>
                        <li class="list-group-item">Dumlupınar Üniversitesi</li>
                        <li class="list-group-item">
                            <a href="mailto:vuralsayan01@gmail.com">vuralsayan01@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">İletişim Bilgileri</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://www.linkedin.com/in/vural-sayan-79326a171/">LinkedIn</a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://github.com/vuralsayan">Github</a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://flowcv.com/resume/i01hb11fc1">CV</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

